body {

    background-color: #0d1117;
    margin: 0 0 0 0 ;
}

* {
    font-family: "Heebo", sans-serif !important;
}

/* @media (max-width: 450px) {
    body {
        background-position-x: center;
        background-position-y: bottom;
        

    }
} */
