@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: #0f1214;
	margin: 0 0 0 0;
}

* {
	font-family: Heebo, sans-serif !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: 'white';
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: slategrey;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: skyblue;
}

/* remove pagination from all swipable containers */
.swipeable-container .pagination {
	display: none;
}
