@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

body {
	background-color: #0f1214;
	margin: 0 0 0 0;
}

* {
	font-family: Heebo, sans-serif !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: 'white';
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: slategrey;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: skyblue;
}

/* remove pagination from all swipable containers */
.swipeable-container .pagination {
	display: none;
}
